/*/////////////////////////////////////////////////////////////

    1. Base Layout
    2. Custom Layout
    3. Three Points
    4. Form / Submit Button
    5. Smartphone (responsive)
    6. Bug Fixes

//////////////////////////////////////////////////////////////*/

/* ------------------------------------------------------------
     Base Layout
------------------------------------------------------------ */



a {
    color: black;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover,
a:focus {
 /*   color: #7b7b7b;*/
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.mid{
    margin: auto;
    height:800px;
    width:800px;
}

/*.wrap{
    width: 1000px;
    margin: 0 auto;
}*/

/*.neko{
    float: left;
    margin-right: 12.5px;
    margin-left: 12.5px;
}*/
/* ------------------------------------------------------------
     Smartphone (responsive)
------------------------------------------------------------ */

@media screen and (min-width: 801px) {
    .navbar-inverse {
        background-color:rgba(255,255,255,0.3);
    }
    .pointImg {
        margin-bottom:-15px;
    }
}
@media screen and (max-width: 800px) {
    .navbar-inverse {
        background-color:rgba(255,255,255,0.8);
    }
    .pointImg {
        margin-bottom:10px;
    }
}

@media screen and (max-width: 800px) {
    dd{
        margin-left: 40px;
        margin-bottom:10px;
        font-size:11px;
    }
    dt{
        font-size:13px;
    }
    .midCell{
        margin:auto;
    }
    .instructor{
        margin-left:0 !important;
    }
    .instrRight{
        margin-right: 0 !important;
    }
    .strip h2{
        font-size:25px;
    }
    .points{
       padding: 20px 20px 20px 20px;
       margin-right: 6px;
       margin-left:6px; 
    }
    .pad{
        padding:15px 25px
    }
    .pinkBox{
        margin-right:6px;
        margin-left: 6px;
    }
}
